<div class="btn-group">
<% @teams.each do |team| %>
  <a class="btn btn-default" style="width:210px; margin:5px" href="teams/<%= team.id %>"><%= team.team_name %> <%= team.team_mascot %></a>
<% end %>
</div>