<h2>Welcome to Shot Charts 3.0!</h2>

<p>This is a website that provides statistics and shot chart visualizations for NCAA Men's Basketball Division I players.</p>

<p><em>Latest updates:</em></p>
<li>5/27/2014: Added a player, team simple search bar</li>
<li>5/25/2014: Added points per shot by shot zone column charts to player pages</li>
<li>5/24/2014: Added shot zone distribution stacked bar charts to player pages</li>
<li>5/23/2014: Optimized ETL load to improve application performance, added shot zones to Postgres database</li>
<li>5/22/2014: Added shot frequency heatmaps to player pages</li>
<li>5/20/2014: Added game log stats to player pages, shot charts to game pages, and NCAA Tournament game log view</li>
<li>5/19/2014: Added shot statistics to Draft 3.0 view</li>
<li>5/18/2014: Completed Minimum Viable Product and submitted a Draft 3.0 Challenge entry</li>

<h3>NCAA Men's Basketball Division I Teams</h3>
<div class="hidden-xs">
  <%= render "partials/team_button" %>
</div>
<div class="container visible-xs">
  <% @confs.each do |conf| %>
  <h4><%= conf.team_conf %></h4>
  <div class="btn-group">
    <% @teams.where("team_conf = ?", conf.team_conf).each do |team| %>
    <a class="btn btn-default" style="width:210px; margin:5px" href="/teams/<%= team.team_id %>"><%= team.team_name %></a><br>
    <% end %>    
  <% end %>
  </div>
</div>
