<div class="row">
  <div class="col-sm-9">
    <% if @shots != "[]" %>
      <div class="panel panel-default" style="width:531px">
        <div class="panel-heading">Shot Chart</div>
        <div id="shotchart"></div>
        <%= javascript_tag do %>
          var shots = <%= @shots %>;
          var made = _.where(shots, {event_desc: "Field Goal Made"});
          var miss = _.where(shots, {event_desc: "Field Goal Missed"});
          var two = _.where(shots, {points_type: 2});
          var three = _.where(shots, {points_type: 3});
        <% end %>
      </div>
    <% end %>
  </div>
</div>