<style type="text/css">
#heatmapArea {
	position: relative;
	width: 640px;
	height: 368px;
	left: 30px;
	background: url("http://dl.dropboxusercontent.com/s/lfd3doj34oa3b3c/court.png");
}
</style>

<%= javascript_include_tag "heatmap" %>
<% @shots = @plays.where("x_coord IS NOT NULL") %>
<% unless @shots.nil? || @shots == "[]" %>
<div class="panel panel-default" style="width:700px">
	<div id="heatmapArea"></div>
	<%= javascript_tag do %>
		// heatmap configuration
		var config = {
		    element: document.getElementById("heatmapArea"),
		    radius: 10,
		    opacity: 50
		};

		//creates and initializes the heatmap
		var heatmap = h337.create(config);
		var width = heatmap.get("width");
		var height = heatmap.get("height");

		// let's get some data
		var data = {
		    max: 20,
		    data: []
		};
		heatmap.store.setDataSet(data);

		<% @shots.each do |shot| %>
			var shot = <%= shot.to_json.html_safe %>;
			var xcoord = -shot['x_coord']*width/60+width/2;
			var ycoord = -shot['y_coord']*height/36+height-60;
			heatmap.store.addDataPoint(xcoord, ycoord, [1]);
		<% end %>
	<% end %>
</div>
<% end %>
