<h3>About Shot Charts 3.0</h3>

<p>This is a website that provides statistics and shot chart visualizations for NCAA Men's Basketball Division I players. The data is from the 2013-2014 NCAA men's college basketball season.</p>

<p><em>Please note that not all teams and players have a complete play-by-play dataset, and not all games have available shot location data.</em> The games with complete shot location data are conference games for the 'high major' conferences (ACC, Big Ten, Big 12, Pac-12, and SEC) as well as NCAA Tournament and NIT games.</p>

<p>This web application is built on a Ruby on Rails framework, uses a PostgreSQL database, and deployed on Heroku's servers. The data is from <a href="http://sportsillustrated.cnn.com/">http://sportsillustrated.cnn.com/</a>, and the shot charts are built with <a href="http://www.highcharts.com/">Highcharts</a>. The creation of this web app was inspired by <a href="http://baseballmod.com/">BaseballMod.com</a>, while development was accelerated by the Sacramento Kings' <a href="http://www.nba.com/kings/draft-30">Draft 3.0 Challenge</a>.</p>

<p>Feel free to provide some feedback to me at albert.yb.lyu at gmail dot com, or submit an issue at this web app's <a href="https://github.com/albertlyu/shot-charts-site/issues?state=open">GitHub page</a>!</p>

<strong><p>by Albert Lyu (May 2014) | <a href="www.linkedin.com/in/albertlyu">LinkedIn</a> | <a href="https://twitter.com/albertlyu">Twitter</a> | <a href="https://github.com/albertlyu">GitHub</a></p></strong>