<h3><strong>Draft 3.0 Top 50 Players</strong></h3>

<ul class="nav nav-tabs">
  <li class="active"><a href="#basic" data-toggle="tab">Basic Stats</a></li>
  <li><a href="#shot" data-toggle="tab">Shot Stats</a></li>
</ul>
<div class="tab-content">
  <div class="tab-pane active" id="basic">
    <%= render "data/draft_basic_stats" %>
  </div>
  <div class="tab-pane" id="shot">
    <%= render "data/draft_shot_stats" %>
  </div>
</div>
