<h3><strong>All NCAA Men's Basketball Division I Players</strong></h3>
<div class="btn-group">
<% @players.each do |player| %>
  <a class="btn btn-default" style="width:220px; margin:5px"  href="../players/<%= player.player_id %>"><%= player.player_first_name %> <%= player.player_last_name %></a>
<% end %>
</div>
