<h3><strong>Showing teams with '<%= params['q'] %>':</strong></h3>
<%= render "partials/team_button" %>
<h3><strong>Showing players with '<%= params['q'] %>':</strong></h3>
<%= render "partials/player_button" %>
